<section id="contact" class="sec contact">
  <div class="content">
    <div class="mxw800p">
      <h3>Entre em contato comigo</h3>
    </div>

    <div class="contactForm">
      <form action="">
        <div class="row100">
            <div class="inputBx50">
              <input type="text" name="" placeholder="Nome">
            </div>

            <div class="inputBx50">
              <input type="email" name="" placeholder="Email">
            </div>
          </div>

          <div class="row100">
            <div class="inputBx100">
              <textarea placeholder="Messagem"></textarea>
            </div>
          </div>

          <div class="row100">
            <div class="inputBx100">
              <input type="submit" name="" value="Enviar">
            </div>
          </div>
      </form>
    </div>
    <div class="sci">
    <ul>
      <li><a href="#"><img src="/images/facebook.png" alt=""></a></li>
      <li><a href="#"><img src="/images/linkedin.png" alt=""></a></li>
      <li><a href="#"><img src="/images/twitter.png" alt=""></a></li>
    </ul>
  </div>
  </div>
</section>