<header id="header">
    <a href="#" class="logo">Logo</a>
    <ul>
      <li><a href="#home" onclick="toggle()">Home</a></li>
      <li><a href="#about" onclick="toggle()">Sobre</a></li>
      <li><a href="#services" onclick="toggle()">Serviços</a></li>
      <li><a href="#portfolio" onclick="toggle()">Portfólio</a></li>
      <li><a href="#contact" onclick="toggle()">Contato</a></li>
    </ul>
    {# <div class="toggle" onclick="toggle()"></div> #}
  </header>