<section id="portfolio" class="sec work">
<div class="content">
  <div class="mxw800p">
    <h3>Trabalhos recentes</h3>
  </div>

  <div class="workBx">
    <div class="brand">
      <img src="/images/port.jpg" alt="">
      <div class="detail">
        <h3>Título do Projeto</h3>
        <p>Descrição</p>
      </div>
    </div>

     <div class="brand">
      <img src="/images/port.jpg" alt="">
      <div class="detail">
        <h3>Título do Projeto</h3>
        <p>Descrição</p>
      </div>
    </div>

     <div class="brand">
      <img src="/images/port.jpg" alt="">
      <div class="detail">
        <h3>Título do Projeto</h3>
        <p>Descrição</p>
      </div>
    </div>

     <div class="brand">
      <img src="/images/port.jpg" alt="">
      <div class="detail">
        <h3>Título do Projeto</h3>
        <p>Descrição</p>
      </div>
    </div>
  </div>
</div>
</section>