<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    {% block head %}
    <title>Andressa Design</title>
    {% endblock %}
  </head>
  <body>
    {% include "components/header.njk" %}
    {% include "components/home.njk" %}
    {% include "components/about.njk" %}
    {% include "components/services.njk" %}
    {% include "components/portfolio.njk" %}
    {% include "components/contact.njk" %}
  </body>

  <script src="/scripts.js"></script>
</html>